.listContainer {
  background-color: #f6f6fb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}

.listContainer {
  background-color: #f6f6fb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}

#page-numbers {
  list-style: none;
  display: flex;
  justify-content: center;
  line-height: 50px;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: lightgray;
  user-select: none;
  cursor: pointer;
}

#page-numbers .active {
  color: #a41a4c;
}

#reservations-query-text-div {
  margin: -5px;
}