/* If you need to make a styling choice please check out https://vwds.pt/ for inspiration */

@font-face {
  font-family: "VWAG The Sans";
  src: url(assets/fonts/VWAGTheSans-Regular.eot);
  src: url(assets/fonts/VWAGTheSans-Regular.woff2) format("woff2"),
    url(assets/fonts/VWAGTheSans-Regular.woff) format("woff"),
    url(assets/fonts/VWAGTheSans-Regular.ttf) format("truetype"),
    url(assets/fonts/VWAGTheSans-Regular.eot?#iefix) format("embedded-opentype"),
    url(assets/fonts/VWAGTheSans-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "VWAG The Sans";
}

/* this is the smaller mobile logo, which we only display in responsive mode */
.vwds-logo-mobile {
  display: none;
}

body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "VWAG The Sans", sans-serif;
  line-height: 27px;
  font-weight: 600px;
  color: #a9adb2;
  text-transform: uppercase;
}

h2 {
  font-family: "VWAG The Sans", sans-serif;
  line-height: 27px;
  font-weight: 600px;
  color: #000000;
  font-size: 24px;
}

p {
  font-family: "VWAG The Sans", sans-serif;
  line-height: 24px;
  font-weight: 400px;
  color: #7a7a7a;
  font-size: 16px;
}

label {
  font-family: "VWAG The Sans", sans-serif;
  line-height: 24px;
  font-weight: 1000px;
  color: black;
  font-size: 16px;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.button {
  cursor: pointer;
  background-color: #a41a4c;
  width: 130px;
  margin: 0 auto;
  line-height: 28px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.button:hover {
  background-color: #601539 !important;
}

.button a {
  color: white !important;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "VWAG The Sans", sans-serif;
}

/* Underline From Left  animation from https://ianlunn.github.io/Hover/#*/
.button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #f5f5f5;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.button:hover:before,
.button:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

/* remove animations from inactive styles */
.hideButton {
  background-color: #a41a4c;
  width: 130px;
  margin: 0 auto;
  line-height: 28px;
  margin-top: 2%;
  margin-bottom: 2%;
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: none !important;
}

ul {
  margin: 0;
  padding: 0;
}

/* footer */

footer {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 60px;
  color: #4a4a4a;
  background-color: #f5f5f5;
}

@media screen and (max-width: 700px) {
  .vwds-logo-mobile {
    display: block;
  }

  .vwds-logo {
    display: none;
  }
}
